Repository tardis-sn/carsus, pull requests merged in 2022-04, with the labels that each got.

#281 Add file names from the CMFGEN dataset to cmfgen_config.yml
  carsus/data/cmfgen_config.yml
Labels: cmfgen

#282 Remove incorrect weighting of photo ion cross-sections for J split levels
  carsus/io/cmfgen/base.py
Labels: bug, :fire:, cmfgen

#272 Add CMFGEN Collisional Data
  carsus/data/cmfgen_config.yml
  carsus/io/cmfgen/base.py
  carsus/io/output/base.py
  carsus/io/tests/test_cmfgen.py
  docs/io/cmfgen.ipynb
  docs/quickstart.ipynb
Labels: feature, cmfgen

#292 Remove nbsphinx hidden cells in favor of `.gitignore`
  .gitignore
  docs/development/compare_atomic_files.ipynb
  docs/legacy/quickstart_legacy.ipynb
  docs/quickstart.ipynb
Labels: CI/CD

#289 Drop `pytest` plugins
  .github/workflows/tests.yml
  carsus/io/tests/test_legacy_consistency.ipynb
  carsus/io/tests/test_output_base.ipynb
  carsus_env3.yml
  docs/development/testing.rst
Labels: CI/CD
